body {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  color: black;
}

.app {
  width: 800px;
}

.question {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid blueviolet;
}

.answer {
  padding: 0 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.answer__form {
}

.answer__form-body {
  width: 80%;
  min-height: 100px;
  margin: 10px;
}
